/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #a9a9a9;
  color: #a9a9a9;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

font[size="7"] {
  font-size: 5rem;
  letter-spacing: -2px;
  display: block;
  font-family: 'Sonsie One', cursive;
  line-height: 1;
}

font[size="6"] {
  font-size: 3rem;
  letter-spacing: -1px;
}

font[size="5"] {
  font-size: 2rem;
  letter-spacing: -0.5px;
}

/* Header and navigation */

div[class="header"] {
  padding: 20px;
}

div[class="nav"] {
  background-color: #ff80ff;
  padding: 10px;
}

div[class="nav"] ul {
  padding: 0;
  list-style-type: none;
}

div[class="nav"] li {
  display: inline;
  margin-right: 20px;
}

div[class="nav"] a {
  color: #a9a9a9;
  text-decoration: none;
  font-size: 2rem;
}

div[class="nav"] form {
  float: right;
}

div[class="nav"] input[type="search"] {
  font-size: 1.6rem;
  height: 32px;
}

div[class="nav"] input[type="submit"] {
  font-size: 1.6rem;
  height: 32px;
  margin-left: 2px;
}

/* || main content */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  background-color: #ff80ff;
  padding: 10px;
}

.secondary {
  flex: 1;
  background-color: #ff80ff;
  padding: 10px;
}

.secondary a {
  color: #a9a9a9;
}

img {
  max-width: 100%;
}

/* || table */

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #a9a9a9;
  padding: 10px;
}

/* || comments */

.show-hide {
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  background-color: #aaa;
  color: white;
  font-size: 2rem;
}

.comment-wrapper {
  display: none;
}

.comment-form {
  margin-top: 20px;
}

.flex-pair {
  display: flex;
  padding: 0 20px 20px 0;
  font-size: 2rem;
}

.flex-pair input {
  font-size: 1.6rem;
  height: 32px;
  flex: 1;
  margin-left: 20px;
}

.comment-container {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.comment-container li {
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}

/* || footer */

footer {
  margin-top: 20px;
  padding: 20px;
}